.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1em 1em 2em 0;
   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DCDCDC;
    color: #0a0a52;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 3em;
}

h1 {
    font-size: 1.5em;
}

button {
    background: #DCDCDC;
    color: #0a0a52;
    font-size: 18px;
    width: 10em;
    height: 2.5em;
    border-radius: 20px;
    border: 1px solid #0a0a52;
    box-shadow: 1.5px 1.5px 1.5px #04041f;
}

button:hover {
    background: #b3b1b1;
    height: 2.3em;
    width: 9em;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
}

#iniciar:hover {
    color: green;
}

#pausar:hover {
    color: rgb(73, 72, 72);
}

#reiniciar:hover {
    color: red;
}

.dark {
    background: #04041f;
    color: #DCDCDC;
}
